/* for ratings */
.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 1.5rem;
  color: #f5c518;
  /* Gold color for stars */
}

.star.full {
  color: #f5c518;
  /* Gold color for filled stars */
}

.star.empty {
  color: #e0e0e0;
  /* Light gray color for empty stars */
}

/* end */

/* swiper pagination bullet */
.swiper-pagination {
  margin-top: 100px;
}

.swiper-pagination-bullet {
  height: 8px !important;
  width: 8px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  height: 8px !important;
  width: 12px !important;
  border-radius: 10px !important;
  background-color: #3c65f5 !important;
}

/* end */

/* phone number input field */

.PhoneInput {
  padding: 0 16px;
}

.PhoneInputInput {
  padding: 15px;
  outline: none;
  background-color: transparent !important;
}

.PhoneInputCountrySelect {
  background: #05274f !important;
  color: white;
}

/* Custom styles for Swiper arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 10px;  
  height: 10px; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px; 
}

/* Optional: Adjust arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #000; 
}


/* end */

/* animate banner image */
.box {
  top: 0px;
  left: 0px;
  position: relative;
  animation: customMove 3s linear infinite;
}

@keyframes customMove {
  0% {
    top: 0px; /* Starting position */
  }
  50% {
    top: 7px; /* Mid-point movement */
  }
  100% {
    top: 0px; /* Return to starting position */
  }
}
