.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 1.5rem;
  color: #f5c518;
}

.star.full {
  color: #f5c518;
}

.star.empty {
  color: #e0e0e0;

}


.swiper-pagination {
  margin-top: 100px;
}

.swiper-pagination-bullet {
  height: 8px !important;
  width: 8px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  height: 8px !important;
  width: 12px !important;
  border-radius: 10px !important;
  background-color: #3c65f5 !important;
}



.PhoneInput {
  padding: 0 16px;
}

.PhoneInputInput {
  padding: 15px;
  outline: none;
  background-color: transparent !important;
}

.PhoneInputCountrySelect {
  background: #05274f !important;
  color: white;
}


.swiper-button-next,
.swiper-button-prev {
  width: 10px;
  height: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}



.box {
  top: 0px;
  left: 0px;
  position: relative;
  animation: customMove 3s linear infinite;
}

@keyframes customMove {
  0% {
    top: 0px;
  }

  50% {
    top: 7px;
  }

  100% {
    top: 0px;
  }
}