/* Google Fonts Import -  Plus Jakarta Sans */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Essential components from the Tailwind CSS  */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

/* for ratings */
.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 1.5rem;
  color: #f5c518;
  /* Gold color for stars */
}

.star.full {
  color: #f5c518;
  /* Gold color for filled stars */
}

.star.empty {
  color: #e0e0e0;
  /* Light gray color for empty stars */
}

/* end */

/* swiper pagination bullet */
.swiper-pagination {
  margin-top: 100px;
}

.swiper-pagination-bullet {
  height: 8px !important;
  width: 8px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  height: 8px !important;
  width: 12px !important;
  border-radius: 10px !important;
  background-color: #3c65f5 !important;
}

/* end */

@layer components {
  .container {
    @apply max-w-screen-2xl mx-auto lg:py-12 py-7 px-4 sm:px-6 md:px-8 lg:px-16 xl:px-24;
  }

  .socialBorder {
    @apply outline outline-1 outline-lightGray p-1 rounded-full text-12 cursor-pointer;
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-darkBlue font-bold leading-[45px] sm:leading-[62px] md:leading-[62px] lg:leading-[52px] xl:leading-[60px];
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl sm:text-5xl md:text-[44px] lg:text-[48px] xl:text-5xl;
  }

  h3 {
    @apply text-2xl sm:text-2xl md:text-[45px] lg:text-5xl xl:text-4xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  strong {
    @apply font-bold text-darkBlue text-xs;
  }

  p {
    @apply text-gray leading-7;
  }
}

@layer utilities {
  .text-lightGray-12 {
    @apply text-lightGray text-xs;
  }

  .text-18 {
    @apply text-lg;
  }

  .text-16 {
    @apply text-base;
  }

  .text-14 {
    @apply text-sm;
  }

  .text-12 {
    @apply text-xs;
  }
}